**Clean the data by:**

- removing rows that have values which are missing,
- changing the data type of some values within a column, and
- removing columns which are not relevant to this task.

Think about how each column might be relevant to the business question you’re investigating. If you can’t think of why a column may be useful, it may not be worth including it.

In [1]:
# Import the basic libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Preprocessing - Content dataset

In [2]:
content_df = pd.read_csv('Content.csv')
content_df.drop(['Unnamed: 0','URL'], axis=1, inplace=True)
content_df.head()

,Content ID,User ID,Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [3]:
content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

**Observations**
- There are missing values, we will drop them as per the instructions.
- Datatype seems ok.

In [4]:
#Check for duplicates

content_df.duplicated().sum()

0

In [5]:
content_df.describe(include='object')

,Content ID,User ID,Type,Category
count,1000,1000,1000,1000
unique,1000,446,4,41
top,97522e57-d9ab-4bd6-97bf-c24d952602d2,72d2587e-8fae-4626-a73d-352e6465ba0f,photo,technology
freq,1,8,261,71

In [6]:
# Check for missing values

content_df.isna().sum()

Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [7]:
def unique (df, column_name):
    for col in column_name:
        print('{} :\n {}'.format(col,df[col].unique()))

In [8]:
unique(content_df,['Type','Category'])

Type :
 ['photo' 'video' 'GIF' 'audio']
Category :
 ['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']

In [9]:
content_df.applymap(lambda x: x.replace('"', ''))

,Content ID,User ID,Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food
...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology

In [10]:
unique(content_df,['Type','Category'])

Type :
 ['photo' 'video' 'GIF' 'audio']
Category :
 ['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']

#### What to fix:
- remove double qoutes
- change upper case to lower case to remain consistent

In [11]:
# change upper case to lower case to remain consistent

content_df['Category'] = content_df['Category'].apply(str.lower)

In [12]:
# remove double qoutes

content_df = content_df.apply(lambda s:s.str.replace('"', ""))

In [13]:
# Replace values

content_df['Category']=content_df['Category'].replace({'"culture"':'culture','"studying"':'studying',
                                                       '"animals"':'animals','"soccer"':'soccer','"dogs"':'dogs',
                                                      '"tennis"':'tennis','"food"':'food','"technology"':'technology',
                                                      '"cooking"':'cooking','"public speaking"':'public speaking',
                                                      '"veganism"':'veganism','"science"':'science'})

In [14]:
unique(content_df,['Category'])

Category :
 ['studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'veganism' 'animals' 'culture']

In [15]:
### Save the cleaned dataset
content_df.to_csv('content_df_cleaned.csv')

#### Preprocessing - Reactions dataset

In [16]:
reactions_df = pd.read_csv('Reactions.csv')
reactions_df.drop('Unnamed: 0', axis=1, inplace=True)
reactions_df.head()

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [17]:
reactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 798.7+ KB

**Observations**
- Missing values will be dropped.
- Change data type for datetime column

In [18]:
#Check for duplicates

reactions_df.duplicated().sum()

0

In [19]:
reactions_df.describe(include='object')

,Content ID,User ID,Type,Datetime
count,25553,22534,24573,25553
unique,980,500,16,25542
top,4b2d0fff-3b4f-43ca-a7df-c430479cb9ba,c76c3393-88e2-47b0-ac37-dc4f2053f5a5,heart,2020-10-29 20:51:08
freq,49,65,1622,2

In [20]:
reactions_df.isna().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [21]:
# drop missing values.
reactions_df.dropna(axis=0,inplace=True)

In [22]:
reactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: object(4)
memory usage: 880.2+ KB

In [23]:
unique(reactions_df,['Type'])

Type :
 ['disgust' 'dislike' 'scared' 'interested' 'peeking' 'cherish' 'hate'
 'indifferent' 'super love' 'worried' 'like' 'heart' 'want' 'intrigued'
 'love' 'adore']

In [34]:
#Change data type for datetime column

import datetime as dt
reactions_df['Datetime']= pd.to_datetime(reactions_df['Datetime'])

#### Preprocessing - ReactionsTypes dataset

In [25]:
reactionstype_df = pd.read_csv('ReactionTypes.csv')
reactionstype_df.drop('Unnamed: 0', axis=1, inplace=True)
reactionstype_df.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [26]:
reactionstype_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       16 non-null     object
 1   Sentiment  16 non-null     object
 2   Score      16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [27]:
reactionstype_df.describe(include = 'object')

         Type Sentiment
count      16        16
unique     16         3
top     heart  positive
freq        1         9

**We can map the score and sentiment columns with the functions below to the reactions_df, thus making it easier to join a table**

In [29]:
def score_stats (x):
    if x =='adore':
        return '72'
    elif x == 'cherish':
        return '70'
    elif x =='disgust':
        return '0'
    elif x == 'dislike':
        return '10'
    elif x == 'hate':
        return '5'
    elif x == 'heart':
        return '60' 
    elif x == 'indifferent':
        return '20'
    elif x == 'interested':
        return '30'
    elif x == 'intrigued':
        return '45'
    elif x == 'like':
        return '50'
    elif x == 'love':
        return '65'
    elif x == 'peeking':
        return '35'
    elif x == 'scared':
        return '15'
    elif x == 'super love':
        return '75'
    elif x == 'want':
        return '70'
    elif x == 'worried':
        return '12'

In [31]:
def sentiment_stats (x):
    if x =='adore':
        return 'positive'
    elif x == 'cherish':
        return 'positive'
    elif x =='disgust':
        return 'negative'
    elif x == 'dislike':
        return 'negative'
    elif x == 'hate':
        return 'negative'
    elif x == 'heart':
        return 'positive' 
    elif x == 'indifferent':
        return 'neutral'
    elif x == 'interested':
        return 'positive'
    elif x == 'intrigued':
        return 'positive'
    elif x == 'like':
        return 'positive'
    elif x == 'love':
        return 'positive'
    elif x == 'peeking':
        return 'neutral'
    elif x == 'scared':
        return 'negative'
    elif x == 'super love':
        return 'positive'
    elif x == 'want':
        return 'positive'
    elif x == 'worried':
        return 'negative'

In [32]:
reactions_df['Score'] = reactions_df['Type'].map(score_stats)
reactions_df['Sentiment'] = reactions_df['Type'].map(sentiment_stats)
reactions_df.sample(2)

,Content ID,User ID,Type,Datetime,Score,Sentiment
24346,21dfb75d-9d98-4627-b074-f4372025d23f,f73a01fe-444d-4b94-8d0e-4ec2cb97495b,super love,2021-03-26 06:54:05,75,positive
7349,5c38166c-8305-4227-ad54-bad36df2a57a,ade9db41-034e-4b27-befb-42117025dab0,love,2020-07-22 09:25:35,65,positive

In [33]:
### Save the cleaned dataset
reactions_df.to_csv('reactions_df_cleaned.csv')

#### Lets merge the remaining tables into one.

In [43]:
content_new_df = pd.read_csv('content_df_cleaned.csv')
content_new_df.drop(['Unnamed: 0','User ID'], axis=1, inplace=True)
content_new_df.rename(columns = {'Type':'TypeContent'}, inplace = True)
content_new_df.head()

                             Content ID TypeContent        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2       photo        studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f       photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6       photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180       video            food

In [48]:
content_new_df.shape

(1000, 3)

In [44]:
reactions_new_df = pd.read_csv('reactions_df_cleaned.csv')
reactions_new_df.drop(['Unnamed: 0','User ID'], axis=1, inplace=True)
reactions_new_df.rename(columns = {'Type':'TypeReaction'}, inplace = True)
reactions_new_df.head()

,Content ID,TypeReaction,Datetime,Score,Sentiment
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,negative
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,10,negative
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,15,negative
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,negative
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,30,positive

In [49]:
reactions_new_df.shape

(22534, 5)

In [46]:
merged_df = pd.merge(content_new_df, reactions_new_df, how="outer", on=["Content ID"])
merged_df.head()

,Content ID,TypeContent,Category,TypeReaction,Datetime,Score,Sentiment
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2020-11-07 09:43:50,0.0,negative
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,dislike,2021-06-17 12:22:51,10.0,negative
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,scared,2021-04-18 05:13:58,15.0,negative
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2021-01-06 19:13:01,0.0,negative
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,interested,2020-08-23 12:25:58,30.0,positive

In [50]:
merged_df.shape

(22572, 7)

In [51]:
### Save the final cleaned and merged dataset
merged_df.to_csv('final_df.csv')